.ChallegeBoxConteiner{
    // display: flex;
    height: 100%;

    background-color: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChallegeBoxNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        margin-bottom: 1rem;
    }
}

.ChallegeBoxNotActive strong{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.ChallegeBoxNotActive p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 70%;
    margin-top: 3rem;
    line-height: 1.4;

}

.challengeActive {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.challengeActive header{
    color: blue;
    border-bottom: 1px solid #d7d8da;
    padding-bottom: 0.5rem;
    font-weight: 800;
}

.challengeActive main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong{
    font-size: 2rem;
    font-weight: 600;
    color: #2e384d;
    margin: 1.5rem 0 1rem;
}

.challengeActive main p{
    line-height: 1.5;
}

.challengeActive footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.challengeActive footer button{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
}

.challengeActive footer button.challengeFailedButton{
    background-color: #e83f5b;
}

.challengeActive footer button.challengeSucceededButton{
    background-color: #4cd62b;
}